<!doctype html>
{% load static %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block EnlacesBootstrap5 %}
    <!-- Bootstrap CSS -->

    
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.2.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/estilo.css' %}">
  
  <!-- Icono de la pagina -->
  <link id="iconPagWeb" rel="shortcut icon" href="{% static 'principal/img/loteria.jpg' %}" type="image/x-icon">

    {% endblock %}

    {% block EnlacesPlantilla_Base %}

    <link rel="stylesheet" href="{% static 'vendor/plantilla_base/css/styles.css' %}">
    <!-- JavaScript Fontawesome -->
    <script src="{% static 'vendor/plantilla_base/js/fontawesome6-1-0-all.js' %}" crossorigin="anonymous"></script>
          

    


    {% endblock %}

    {% block EnlacesPlantillas %}

    


    {% endblock %}

    {% block EnlacesPersonalizados %}

    

    

    {% endblock %}
    
    <title>{% block titulo %}BASE {% endblock %}</title> 

  </head>

  <body class="sb-nav-fixed">
    {% block menu_superior %}
      <!--Aqui se incluye el menu superior-->
      {% include "menu_superior.html" %}
    
      {% endblock%}


    
    
    

    
    {% block contenedor %} 

    <div id="layoutSidenav">
    
        <!--Aqui se incluye el menu lateral-->
        {% include "menu_dashboar.html" with tema="index" subtema=""   %}


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Primary Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Warning Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Success Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Danger Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                    Area Chart Example
                                </div>
                                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Bar Chart Example
                                </div>
                                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            DataTable Exampleasasasasas
                        </div>
                        
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


    </div>
            
          
    {% endblock %}


    {% block footer %}


    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2022</div>
                <div>
                    
                </div>
            </div>
        </div>
    </footer>

        


    {% endblock %}
  

    
    

    
    

    {% block EnlacesGraficas_js %}

      
    
    {% endblock %}


    {% block EnlacesListado_js %}

       

    {% endblock %}


    {% block EnlacesBootstrap5js %}


          

          <!-- JavaScript Bundle with Popper -->
          <script src="{% static 'vendor/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js' %}"  crossorigin="anonymous"></script>
          
          
          

          

          
    {% endblock %}

    {% block EnlacesPlantillas_base %}

    <script src="{% static 'vendor/plantilla_base/js/scripts.js' %}"></script>
    
    {% endblock%}

    
  </body>
</html>